body {
    margin: 5rem;
    font-family: 'Roboto', sans-serif;
}

h2 {
    color: #4467a6;
}

h3 {
    margin-bottom: 0.4rem;
}

em {
    font-weight: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
    margin-bottom: 5rem;
}

.subtitle {
    margin-bottom: 1.2rem;
    color: #4467a6;
}

.profile {
    display: inline-block;
    position: relative;
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
    animation: slide-in 1s;
}

.profile img {
    width: 100%;
    height: auto;
    margin-top: -30%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}

.contact {
    color: #000000;
    text-decoration: none;
}

@keyframes slide-in {
    0% {transform: translateX(-1000%);}
    100% {transform: translateX(0%);}
}

@media screen and (max-width: 750px) {
    body {
        font-size: 2vw;
        margin: 10vw;
    }

    header {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;
    }

    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile {
        width: 35vw;
        height: 35vw;
    }
  }